*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato', sans-serif;
    background-color: #eee;
    font-weight: 400;
    font-size: 16px;
}

header {
    background-color: #ddd;
    text-align: center;
    line-height: 3rem;
    position: fixed;
    width: 100%;
    
}

.logo {
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;

}

.nav-link {
    text-decoration: none;
    line-height: 2rem;
    letter-spacing: .2rem;
    color: #000;
}

#hero-section {
    padding-top: 15rem;
    padding-bottom: 5rem;
    width: 100%;
    text-align: center;
    /* background-color: #001C30; */
}

#email {
    border: 0.005rem solid rgb(106, 90, 90);
    outline: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
    margin: 1.5rem 0;
}

#hero-btn {
    outline: none;
    padding: .5rem 2rem;
    border-radius: .3rem;
    border: none;
    background-color: #F8DE22;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

#video-section {
    width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
    overflow: hidden;
    text-align: center;
    /* position: relative; */
}


 .video {
    aspect-ratio: 16 / 9;
  width: 90%;
}

#features {
    width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
}

.features-content {
    margin: 2rem 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2;
}

.feature-icon {
    font-size: 2rem;
    color: #F94C10;
}

#pricing {
    margin: 5rem 0;
}

.price-card {
    border: 1px solid black;
    text-align: center;
    padding: 0 1rem;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    margin-top: 1rem;
}
.card-heading {
    background-color: #ddd;
    text-transform: uppercase;
    padding: 15px 0;
    margin-left: -15px;
    margin-right: -15px;
}

.amount {
 
    color: #F94C10;
    padding: 1rem;
    font-weight: 700;
}

.descripion {
    padding: 2rem 2rem;
}

.card-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: #F8DE22;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 500;
}

#footer {
    background-color: #ddd;
    color: #000;
    padding: 1rem 2rem;
    text-align: center;
}


@media (min-width: 750px) {

    /* navigation area on large screens */

    .logo {
        font-size: 1.5rem;
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 7rem;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        gap: 2rem;
    }

    #hero-section {
        padding: 100px 0;
    }


    #features {
        padding: 0 5rem;
    }

    .features-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        gap: 2rem;
        width: 100%;
    }

    .feature-icon {
        width: 7%;
        font-size: 2.5rem;
    }

    .feature-text {
        width: 85%;
    }

    #video-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    #pricing {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
        margin: 5rem 0;
    }

    .card-heading {
        margin: 0;
    }

    .price-card {
        width: 33.33%;
        padding: 0;
    }
    
}

