*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato', sans-serif;
    background-color: #eee;
    font-weight: 400;
    font-size: 16px;
}

header {
    text-align: center;
    line-height: 3rem;
    
}

.logo {
    font-size: 1.2rem;
    font-weight: 800;

}

.nav-link {
    text-decoration: none;
    line-height: 2rem;
    letter-spacing: .2rem;
    color: #000;
}

#hero-section {
    padding: 100px 0;
    width: 100%;
    text-align: center;
    /* background-color: #001C30; */
}

#email {
    border: 0.005rem solid rgb(106, 90, 90);
    outline: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
    margin: 1.5rem 0;
}

#hero-btn {
    outline: none;
    padding: .5rem 2rem;
    border-radius: .3rem;
    border: none;
    background-color: #F8DE22;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

#video-section {
    width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
    overflow: hidden;
    /* position: relative; */
}


 .video {
    aspect-ratio: 16 / 9;
  width: 100%;
}

#features {
    width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
}

.features-content {
    margin: 2rem 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2;
}

.feature-icon {
    font-size: 2rem;
    color: #F94C10;
}

#footer {
    background-color: #001C30;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}


@media (min-width: 750px) {

    .logo {
        font-size: 1.5rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 7rem;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        gap: 2rem;
    }

    #features {
        padding: 0 5rem;
    }

    .features-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        gap: 2rem;
        width: 100%;
    }

    .feature-icon {
        width: 7%;
        font-size: 2.5rem;
    }

    .feature-text {
        width: 85%;
    }
    
}

